#contact_us {
  background-color: $bgcYellow;
}

.contactbgc {
  background-color: $bgcWhite;
}

.contactusim {
  width: 100%;
}

.btnform {
  color: black;
  background-color: #fff;
  border: 2px solid #000;
}
.btnform:hover {
  color: white;
  background-color: #000;
}
